body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    background-color: lightgrey;
}
.header-container{
    top:0;
    position: sticky;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1% 5%;
    background-color: white;
    border-bottom: 1px solid grey;
}
.header-container button{
    background: none;
    border:none;
    padding: 10px;
    font-size: 24px;
    transition: 1s;
}
.header-container button:hover{
    background-color: dodgerblue;
    color:white;
    border-radius: 4px;
}
.modal-back{
    background: rgba(0,0,0,0.5);
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 90;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-container{
    min-width: 40vw;
    background-color: white;
    border-radius: 24px;
    border:none;
    color:black;
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    max-width: 80vw;
    padding-bottom: 3%;
}
@media(max-width:1200px){
    .modal-container{
        width: 80vw;
    }
}
.modal-content{
    margin-top: 40px;
    padding: 1.5% 5%;
    overflow-y: auto;
}
.modal-content h2{
    margin-bottom: 80px;
}
.modal-close-icon{
    align-self: flex-end;
    margin-right: 2%;
    margin-top: 1%;
    font-size: 24px;
    color: grey;
    cursor: default;
    transition: 0.5s;
}
.modal-close-icon:hover{
    color:blue;
}
.auth-inputs{
    display: flex;
    flex-direction: column;
}
.auth-inputs input{
    margin-bottom: 50px;
    padding-left: 1%;
    font-size: 21px;
    border:none;
    border-bottom: 1px solid grey;
    outline: none;
    transition: 1s;
}
.auth-inputs input:focus{
    outline: none;
    border-bottom: 1px solid dodgerblue;
}
.auth-inputs label{
    margin-bottom: 15px;
    font-size: 16px;
}
.auth-change-button{
    background: none;
    border: none;
    font-size: 24px;
    transition: 1s;

}
.auth-change-button:hover{
    text-decoration: underline;
    color: blue;
}
.auth-enter-button{
    border: none;
    border-radius: 18px;
    font-size: 26px;
    background-color: dodgerblue;
    color: white;
    padding: 3%;
    transition: 1s;
}
.auth-enter-button:hover{
    border-radius: 18px;
    background-color: blue;
    color: white;
}

@media(max-width: 1200px){
    .auth-inputs input{
        margin-bottom: 20px;
        font-size: 24px;
    }
    .auth-inputs label{
        margin-bottom: 5px;
    }
    .modal-content h2{
        margin-bottom: 40px;
    }
}
.page{
    margin-left: 5%;
    width:90%;
}
.profile-page{
    display: grid;
    grid-template-columns: 8fr 2fr;
}
.profile_menu{
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
}
.loader-back{
    position: fixed;
    display: flex;
    z-index: 98;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.loader {

    z-index:99;
    width: 10%;
    height: 15%;
    position: relative;
    border: 5px solid black;
    border-radius: 8px;
}
.loader::before {
    content: '';
    position: absolute;
    border: 5px solid black;
    width: 32px;
    height: 28px;
    border-radius: 50% 50% 0 0;
    left: 50%;
    top: 0;
    transform: translate(-50% , -100%)

}
.loader::after {
    content: '';
    position: absolute;
    transform: translate(-50% , -50%);
    left: 50%;
    top: 50%;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: black;
    box-shadow: 16px 0 black, -16px 0 black;
    animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
    0% {
        background-color: rgba(0, 0, 0, 0.25);
        box-shadow: 16px 0 rgba(0, 0, 0, 0.25), -16px 0 rgba(0, 0, 0, 1);
    }
    50% {
        background-color: rgba(0, 0, 0, 1);
        box-shadow: 16px 0 rgba(0, 0, 0, 0.25), -16px 0 rgba(0, 0, 0, 0.25);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.25);
        box-shadow: 16px 0 rgba(0, 0, 0, 1), -16px 0 rgba(0, 0, 0, 0.25);
    }
}
.catalog-products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1%;
    row-gap: 15%;
}
.product-item{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    min-height: 10vh;
    max-height: 30vh;
    background-color: white;
    border-radius: 24px;
    padding: 3% 7%;
    color: black;
    border: 1px solid grey;
}
.product-item-buttons button{
    margin-top: 3vh;
    background: none;
    min-width: 6vw;
    min-height: 6vh;
    border: 1px solid grey;
    border-radius: 12px;
    font-size: 18px;
    transition: 1s;
}
.product-item-buttons button:hover{
    background-color: grey;
    border: 1px solid white;
    color: white;
}